.posts__container {
  background-color: #ffd7ba;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.post__body {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  width: 600px;
}

.post__header {
  background-color: #fcd5ce;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.post__title {
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.post__author {
  color: #005f73;
}

.post__content {
  padding: 10px;
  background-color: #ddd;
  width: 100%;
}
